<div class="container text-center">
  <div class="row my-5 text-center">
    <div class="col-lg-3 col-sm-12 col-md-6 d-flex gap-2 support">
      <i class="icon bi bi-box2"></i>
      <div class=" red-title d-flex flex-column align-content-start align-items-start">
            <span class="description">Free delivery</span>
            <p class="description subDescription">Free shipping over $120</p>
          </div>
    </div>
    <div class="support col-lg-3 col-sm-12 col-md-6 d-flex gap-2">
      <i class="icon bi bi-credit-card-2-front"></i>
      <div class="red-title d-flex flex-column align-content-start align-items-start">
            <span class="description">Secure payments</span>
            <p class="description subDescription">Confidence on all your devices</p>
          </div>
    </div>
    <div class="support col-lg-3 col-sm-12 col-md-6 d-flex gap-2">
      <i class="icon bi bi-headset"></i>
      <div class="red-title d-flex flex-column align-content-start align-items-start">
            <span class="description">Top-notch support</span>
            <p class="description subDescription">24hr customer service</p>
          </div>
    </div>
    <div class="col-lg-3 col-sm-12 col-md-6 d-flex gap-2 support">
      <i class="icon bi bi-arrow-counterclockwise"></i>
      <div class="red-title d-flex flex-column align-content-start align-items-start">
            <span class="description">180 Days Return</span>
            <p class="description subDescription">180 Days Return</p>
          </div>
    </div>
  </div>
</div>



