<div class="contact-us-banner d-flex justify-content-center align-items-center">
  <div class="container">
      <span class="contact-title fs-1">
        <span style="transition-delay: 0ms">C</span
        ><span style="transition-delay: 50ms">O</span
        ><span style="transition-delay: 100ms">N</span
        ><span style="transition-delay: 150ms">T</span
        ><span style="transition-delay: 200ms">A</span
        ><span style="transition-delay: 250ms">C</span
        ><span style="transition-delay: 300ms">T</span
        ><span style="transition-delay: 350ms"> </span>
        <span style="transition-delay: 400ms">U</span
        ><span style="transition-delay: 450ms">S</span>
      </span>
  </div>
</div>
