<div class="container d-flex justify-content-center text-center mb-5">
    <div class="container">
        <div class="container mb-4">
            <div class="part1">
                FLACIO photosynthesis STORIES
            </div>
        </div>
        <div class="container mb-4">
            <h2 class="part2">We connect buyers and sellers with suitable,<br>
                eco-friendly <span class="fst-italic">products</span>
            </h2>
        </div>
        <div class="container mb-4">
            <div class="part3 ">
                <span class="line">
                    <i aria-hidden="true" class="fas fa-square-full"></i>
                </span>
            </div>
        </div>
        <div class="container mb-4">
            <div class="part4">
                Nothing adds more beauty and comfort to our homes and offices than the lush flowers and foliage of
                indoor plants. Bedrooms,<br /> bathrooms, kitchens, cubicles… There really isn’t a space a houseplant
                can’t
                enliven. Just add light and water, and you’ve got a growing <br /> oasis. Bringing plants into your home
                is aesthetically pleasing and – amazingly – plants can offer strong health benefits as well! </div>
        </div>
    </div>
</div>