<div class="error-container d-flex flex-column justify-content-between">
  <div id="leaves">
    <i></i>
    <i></i>
    <i></i>
    <i></i>
    <i></i>
    <i></i>
    <i></i>
    <i></i>
    <i></i>
    <i></i>
    <i></i>
    <i></i>
    <i></i>
    <i></i>
    <i></i>
  </div>
<routerLink routerLink="/">
  <div class="plants-container d-flex align-items-center">
    <div class="plants justify-content-center">
      <div class="plant">
        <div class="leaves plant-1"></div>
      </div>
      <div class="plant plant-2">
        <div class="leaves plant-2"></div>
      </div>
      <div class="plant">
        <div class="leaves plant-1"></div>
      </div>
  </div>
  </div>
</routerLink>


