<app-navbar
  *ngIf="
    !isLoginPage &&
    !isSignUpPage &&
    !isResetPasswordPage &&
    !isDashboardPage &&
    !isCheckoutPage &&
    !isErrorPage
  "
>
</app-navbar>

<router-outlet></router-outlet>
<app-chatbot
  *ngIf="
    !isLoginPage &&
    !isSignUpPage &&
    !isResetPasswordPage &&
    !isDashboardPage &&
    !isErrorPage
  "
></app-chatbot>
<app-footer
  *ngIf="
    !isLoginPage &&
    !isSignUpPage &&
    !isResetPasswordPage &&
    !isDashboardPage &&
    !isCheckoutPage &&
    !isErrorPage
  "
>
</app-footer>
