.contact-container {
  position: relative;
  overflow: hidden;
}
.contact-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.map{
  z-index: 2;
}

#contact-container {
  position: relative;
  height: 75vh;
  max-width: auto;
  overflow: hidden;
  box-shadow: 0px 0px 19px 5px rgba(34, 66, 41, 0.2);
  border-radius:10px;
}

.form-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  transition: 0.6s ease;
}

.form-container form {
  width: 100%;
  height: 100%;
}

.contact-form-title{
  position: relative;
  text-align:center;
  padding: 0 0 10px;
  margin-bottom: 10px;
  color: #537355;
  font-weight: 600;
  font-family: 'Dancing Script', sans-serif;
}

input , textarea{
  height: 40px;
  padding: 0 0 0 40px;
  border-radius: 7px;
  outline: none;
  border: 1px solid #e5e5e5;
  filter: drop-shadow(0px 1px 0px #efefef)
    drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
  transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}
.input_container{
  width: 100%;
}


textarea{
  min-height: 150px;
}

.btn{
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: #224229;
  border: 3px solid #224229;
  color: #fff;
  padding: 15px 25px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: .3s;
}

.btn:hover{
    background-color: #224229;
}

.field:focus{
    border: 2px solid rgba(34, 66, 41, 0.2);
    background-color: #fff;
}

button:active {
  background-color: transparent;
  transform: scale(0.92);
}
.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 5;
  height: 100%;
  width: 50%;
  overflow: hidden;
  transition: transform 0.6s ease;
}

.overlay {
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease;
}

.overlay-panel {
  padding: 0 40px;
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
  transition: transform 0.6s ease;
}

.panel-left {
  left: 0;
  text-align: left;
  background: linear-gradient(-225deg, #3c5742, #749d77);
  transform: translateX(-20%);
}

.panel-right {
  left: 50%;
  transform: translateX(0);
}

.container.right-panel-active .map {
  transform: translateX(100%);
  z-index: 1;
  opacity: 0;
}
.container.right-panel-active .contact-form  {
  transform: translateX(100%);
  z-index: 2;
  opacity: 1;
}
.container.right-panel-active .panel-left {
  transform: translateX(0);
}
.container.right-panel-active .panel-right {
  transform: translateX(20%);
}
.container.right-panel-active .overlay-container {
  transform: translateX(-100%);
}
.container.right-panel-active .overlay {
  transform: translateX(50%);
}
a{
  text-decoration: none;
  border: none;
}

@media (max-width: 900px) {
  .container {
    margin: 20px auto;
    min-height: 760px;
  }

  .form-container {
    height: 50%;
    width: 100%;
  }

  .overlay-container {
    top: 50%;
    left: 0;
    height: 50%;
    width: 100%;
  }

  .overlay {
    top: -100%;
    left: 0;
    height: 200%;
    width: 100%;
    transform: translateY(0);
  }

  .overlay-panel {
    left: 0;
    height: 50%;
    width: 100%;
  }

  .panel-left {
    top: 0;
    transform: translateY(-20%);
  }

  .panel-right {
    top: 50%;
    transform: translateY(0);
  }

  .contact.right-panel-active .map {
    transform: translateY(100%);
    z-index: 1;
    opacity: 0;
  }
  .contact.right-panel-active .contact-form  {
    transform: translateY(100%);
    z-index: 2;
    opacity: 1;
  }
  .contact.right-panel-active .panel-left {
    transform: translateY(0);
  }
  .contact.right-panel-active .panel-right {
    transform: translateY(20%);
  }
  .contact.right-panel-active .overlay-container {
    transform: translateY(-100%);
  }
  .contact.right-panel-active .overlay {
    transform: translateY(50%);
  }
}


.fil0 {
  fill: #3c5742bc
}

.submit-btn {
  margin-top: 20px;
  position: relative;
  padding: 10px 40px;
  background: #628665;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1rem;
  font-weight: bold;
  color: #e4e1e1;
  border: 1px solid #628665;
  border-radius: 8px;
  filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, .2));
}

.submit-btn:hover{
  border: 1px solid #537355;
  background: linear-gradient(85deg, #537355, #537355fb, #537355e9, #537355d7, #365438bc);
  animation: wind 2s ease-in-out infinite;
}

@keyframes wind {
  0% {
    background-position: 0% 50%;
  }

  0% {
    background-position: 50% 100%;
  }

  0% {
    background-position: 0% 50%;
  }
}

.icon-1 {
  position: absolute;
  top: 0;
  right: 0;
  width: 25px;
  transform-origin: 0 0;
  transform: rotate(10deg);
  transition: all .5s ease-in-out;
  filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, .3));
}

.submit-btn:hover .icon-1 {
  animation: slay-1 3s cubic-bezier(0.52, 0, 0.58, 1) infinite;
  transform: rotate(10deg);
}

@keyframes slay-1 {
  0% {
    transform: rotate(10deg);
  }

  50% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(10deg);
  }
}

.icon-2 {
  position: absolute;
  top: 0;
  left: 25px;
  width: 12px;
  transform-origin: 50% 0;
  transform: rotate(10deg);
  transition: all 1s ease-in-out;
  filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, .5));
}

.submit-btn:hover .icon-2 {
  animation: slay-2 3s cubic-bezier(0.52, 0, 0.58, 1) 1s infinite;
  transform: rotate(0);
}

@keyframes slay-2 {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(15deg);
  }

  100% {
    transform: rotate(0);
  }
}

.icon-3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  transform-origin: 50% 0;
  transform: rotate(-5deg);
  transition: all 1s ease-in-out;
  filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, .5));
}

.submit-btn:hover .icon-3 {
  animation: slay-3 2s cubic-bezier(0.52, 0, 0.58, 1) 1s infinite;
  transform: rotate(0);
}

@keyframes slay-3 {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(0);
  }
}

/* Success Modal */
.custom-modal {
  animation: bounceIn 0.5s;
}

.modal-confirm {
  color: #636363;
  width: 325px;
  font-size: 14px;
}

.modal-title{
  font-family: 'Dancing Script', cursive;
  font-style: italic;
  font-weight: bold;
}

.modal-confirm .modal-content {
  padding: 5px;
  border-radius: 5px;
  border: none;
}

.modal-confirm{
  border-bottom: none;
  position: relative;
}

.modal-confirm h4 {
  text-align: center;
  font-size: 26px;
  margin: 30px 0 -15px;
}

.modal-confirm .form-control,
.modal-confirm .btn {
  min-height: 40px;
  border-radius: 3px;
}

.modal-confirm .close {
  position: absolute;
  top: -10px;
  right: -5px;
}

.modal-confirm .modal-footer{
  border: none;
  text-align: center;
  border-radius: 5px;
  font-size: 13px;
  padding: 0;
}

.modal-confirm .icon-box {
  color: #fff;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: -60px;
  bottom: 0;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  z-index: 9;
  background: #99ce9d;
  padding: 15px;
  text-align: center;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-confirm .icon-box img {
  font-size: 58px;
  max-width: 100%;
  max-height: 100%;
}

.modal-confirm.modal-dialog {
  margin-top: 80px;
}

.modal-confirm .btn {
  color: #fff;
  border-radius: 4px;
  background: #557758;
  text-decoration: none;
  transition: all 0.4s;
  line-height: normal;
  border: none;
}

.modal-confirm .btn:hover,
.modal-confirm .btn:focus {
  background: #618264;
  outline: none;
}

.trigger-btn {
  display: inline-block;
}

@media (max-width: 576px) {
  .modal-confirm {
      margin: 0 auto;
      width: 90%;
  }
}

