<footer class="p-5 text-white pb-0">
  <div class="container-fluid row justify-content-sm-between">
    <div class="col-md-3 d-flex flex-column">
      <div class="mb-3">
        <h6 class="header">Company</h6>
      </div>
      <div>
        <ul class="list-unstyled">
          <li class="mb-2">
            <a
              href="https://wpbingosite.com/wordpress/flacio/about-us/"
              class="text-white text-decoration-none"
            >
              <span class="item">About</span>
            </a>
          </li>
          <li class="mb-2">
            <a
              href="https://wpbingosite.com/wordpress/flacio/about-us/"
              class="text-white text-decoration-none"
            >
              <span class="item">Careers</span>
            </a>
          </li>
          <li class="mb-2">
            <a
              href="https://wpbingosite.com/wordpress/flacio/about-us/"
              class="text-white text-decoration-none"
            >
              <span class="item">Press</span>
            </a>
          </li>
          <li class="mb-2">
            <a
              href="https://wpbingosite.com/wordpress/flacio/faq/"
              class="text-white text-decoration-none"
            >
              <span class="item">Corporate Orders</span>
            </a>
          </li>
          <li class="mb-2">
            <a
              href="https://wpbingosite.com/wordpress/flacio/about-us/"
              class="text-white text-decoration-none"
            >
              <span class="item">Refer a Friend</span>
            </a>
          </li>
          <li class="mb-2">
            <a
              href="https://wpbingosite.com/wordpress/flacio/faq/"
              class="text-white text-decoration-none"
            >
              <span class="item">Our Guarantee</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-3 d-flex flex-column">
      <div class="mb-3">
        <h6 class="header">Support</h6>
      </div>
      <div>
        <ul class="list-unstyled">
          <li class="mb-2">
            <a
              href="https://wpbingosite.com/wordpress/flacio/faq/"
              class="text-white text-decoration-none"
            >
              <span class="item">Help + FAQs</span>
            </a>
          </li>
          <li class="mb-2">
            <a
              href="https://wpbingosite.com/wordpress/flacio/faq/"
              class="text-white text-decoration-none"
            >
              <span class="item">Track Your Order</span>
            </a>
          </li>
          <li class="mb-2">
            <a
              href="https://wpbingosite.com/wordpress/flacio/faq/"
              class="text-white text-decoration-none"
            >
              <span class="item">Shipping</span>
            </a>
          </li>
          <li class="mb-2">
            <a
              href="https://wpbingosite.com/wordpress/flacio/faq/"
              class="text-white text-decoration-none"
            >
              <span class="item">Returns</span>
            </a>
          </li>
          <li class="mb-2">
            <a
              href="https://wpbingosite.com/wordpress/flacio/contact/"
              class="text-white text-decoration-none"
            >
              <span class="item">Contact Support</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-3 d-flex flex-column">
      <div class="mb-3">
        <h6 class="header">PLANT QUESTIONS?</h6>
      </div>
      <div>
        <ul class="list-unstyled">
          <li class="mb-2">
            <a
              href="https://wpbingosite.com/wordpress/flacio/blog/"
              class="text-white text-decoration-none"
            >
              <span class="item">Plant Care Tips</span>
            </a>
          </li>
          <li class="mb-2">
            <a
              href="https://wpbingosite.com/wordpress/flacio/blog/"
              class="text-white text-decoration-none"
            >
              <span class="item">Plant Life Blog</span>
            </a>
          </li>
          <li class="mb-2">
            <a
              href="https://wpbingosite.com/wordpress/flacio/blog/"
              class="text-white text-decoration-none"
            >
              <span class="item">Vera Plant Care App</span>
            </a>
          </li>
          <li class="mb-2">
            <a
              href="https://wpbingosite.com/wordpress/flacio/blog/"
              class="text-white text-decoration-none"
            >
              <span class="item">Meet Plant Mom</span>
            </a>
          </li>
          <li class="mb-2">
            <a
              href="https://wpbingosite.com/wordpress/flacio/contact/"
              class="text-white text-decoration-none"
            >
              <span class="item">Contact the Grow-How™ Team</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-3 d-flex flex-column">
      <div class="mb-3">
        <h6 class="header">STAY IN THE LOOP</h6>
      </div>
      <div>
        <ul class="list-unstyled">
          <li class="mb-2">
            <p>
              Stay in the loop with special offers,plant-parenting tips, and
              more.
            </p>
          </li>
          <li class="mb-2">
            <form
              class="form-control bg-transparent border-0"
              [formGroup]="validationForm"
            >
              <input
                #email
                type="email"
                name="your-email"
                value=""
                size="40"
                class="email-input"
                aria-required="true"
                aria-invalid="true"
                required
                formControlName="email"
              />
              <label>
                <span style="font-size:1rem;transition-delay: 0ms">E</span
                ><span style="font-size:1rem;transition-delay: 50ms">n</span
                ><span style="font-size:1rem;transition-delay: 100ms">t</span
                ><span style="font-size:1rem;transition-delay: 150ms">e</span
                ><span style="font-size:1rem;transition-delay: 200ms">r</span
                ><span style="font-size:1rem;transition-delay: 250ms"> </span
                ><span style="font-size:1rem;transition-delay: 300ms">Y</span
                ><span style="font-size:1rem;transition-delay: 350ms">o</span>
                <span style="font-size:1rem;transition-delay: 400ms">u</span
                ><span style="font-size:1rem;transition-delay: 450ms">r</span>
                <span style="font-size:1rem;transition-delay: 500ms"> </span
                ><span style="font-size:1rem;transition-delay: 550ms">E</span
                ><span style="font-size:1rem;transition-delay: 600ms">m</span>
                <span style="font-size:1rem;transition-delay: 650ms">a</span
                ><span style="font-size:1rem;transition-delay: 700ms">i</span>
                <span style="font-size:1rem;transition-delay: 750ms">l</span>
              </label>
              <a class="email-icon" (click)="checkEmail()"
                ><i class="bi bi-envelope ml-2 envelope fs-5"></i
              ></a>
            </form>
            <div class="email-alert d-none py-2 px-0">
              <span id="text"></span>
            </div>
          </li>
          <li class="mb-2">
            <ul id="social-link" class="list-unstyled d-flex mt-4">
              <li class="me-1">
                <a href="#"><i class="bi bi-twitter text-white"></i></a>
              </li>
              <li class="me-1">
                <a href="#"><i class="bi bi-instagram text-white"></i></a>
              </li>
              <li class="me-1">
                <a href="#"><i class="bi bi-dribbble text-white"></i></a>
              </li>
              <li class="me-1">
                <a href="#"><i class="bi bi-behance text-white"></i></a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container-fluid row justify-content-sm-start mt-4">
    <img
      src="https://wpbingosite.com/wordpress/flacio/wp-content/uploads/2020/06/payments.png"
      class="logo-imgs"
      alt=""
      data-lazy-src="https://wpbingosite.com/wordpress/flacio/wp-content/uploads/2020/06/payments.png"
      data-ll-status="loaded"
    />
  </div>
  <section
    class="container-fluid row justify-content-sm-start mt-4 xyz copy-right"
  >
    <div class="col-3 fs-6">© 2022 Bloomsy Store</div>
    <div class="col-9 d-flex flex-row justify-content-sm-end fs-6">
      <ul class="list-unstyled">
        <li class="d-inline me-3">
          <a href="#" class="text-white text-decoration-none">
            <span class="item">Terms of Use </span>
          </a>
        </li>
        <li class="d-inline me-3">
          <a href="#" class="text-white text-decoration-none">
            <span class="item">Copyright &amp; Trademark </span>
          </a>
        </li>
        <li class="d-inline me-3">
          <a href="#" class="text-white text-decoration-none">
            <span class="item">Policy </span>
          </a>
        </li>
        <li class="d-inline me-3">
          <a href="#" class="text-white text-decoration-none">
            <span class="item">Sitemap</span>
          </a>
        </li>
      </ul>
    </div>
  </section>
</footer>
