<div class="header-wrapper">
  <app-header></app-header>
  <app-banners></app-banners>
</div>
<app-about></app-about>
<app-sample-products></app-sample-products>
<app-review></app-review>
<app-support></app-support>
<app-scroll-top></app-scroll-top>

<!-- Spinner -->
<ngx-spinner>
  <div class="loader-container">
    <div class="loader">
      <div class="orbe" style="--index: 0"></div>
      <div class="orbe" style="--index: 1"></div>
      <div class="orbe" style="--index: 2"></div>
      <div class="orbe" style="--index: 3"></div>
      <div class="orbe" style="--index: 4"></div>
    </div>
  </div>
</ngx-spinner>
