<div class="body col-12">
  <div id="leaves">
    <i></i>
    <i></i>
    <i></i>
    <i></i>
    <i></i>
    <i></i>
    <i></i>
    <i></i>
    <i></i>
    <i></i>
    <i></i>
    <i></i>
    <i></i>
    <i></i>
    <i></i>
  </div>
  <div class="general-container">
    <div class="container-sky">
         <div class="mountain1"></div>
         <div class="cloud1"></div>
         <div class="foliage-container">
            <div class="palm-tree">
              <div class="coco"></div>
              <div class="palm-tree-palm1 palm-tree-palm"></div>
              <div class="palm-tree-palm2 palm-tree-palm"></div>
              <div class="palm-tree-palm3 palm-tree-palm"></div>
            </div>
            <div class="vine">
              <div class="vine__stem"></div>
              <div class="leaf leaf1"></div>
              <div class="leaf leaf2"></div>
              <div class="leaf leaf3"></div>
              <div class="leaf leaf4"></div>
              <div class="leaf leaf5"></div>
              <div class="leaf leaf6"></div>
              <div class="leaf leaf7"></div>
              <div class="leaf leaf8"></div>
              <div class="leaf leaf9"></div>
              <div class="leaf leaf10"></div>
            </div>
            <div class="head__plant">
              <div class="head__plant--stem"></div>
              <div class="head__plant--leaf1"></div>
           </div>
         </div>
      <div class="bubble-text">
        <p>Welcome To Bloomsy<br /> Dashboard!</p>
      </div>
      <div class="monster_body-container">
        <div class="monster_body">
          <div class="tail"></div>
          <div class="head">
            <div class="eye_left"></div>
            <div class="eye_right"></div>
            <div class= "cheeks cheeks-left"></div>
            <div class= "cheeks cheeks-right"></div>
          </div>
        </div>
        <div class="foot foot_left"></div>
        <div class="foot foot_right"></div>
      </div>
      <div class="banana"></div>
        <div class="soap__container1 soap__container">
          <div class="soap__bubble1"></div>
          <div class="soap__bubble2"></div>
          <div class="soap__bubble3"></div>
          <div class="soap__bubble4"></div>
          <div class="soap__bubble5"></div>
          <div class="soap__bubble6"></div>
          <div class="soap__bubble7"></div>
          <div class="soap__bubble8"></div>
        </div>
        <div class="soap__container2 soap__container">
          <div class="soap__bubble1"></div>
          <div class="soap__bubble2"></div>
          <div class="soap__bubble3"></div>
          <div class="soap__bubble4"></div>
          <div class="soap__bubble5"></div>
          <div class="soap__bubble6"></div>
          <div class="soap__bubble7"></div>
          <div class="soap__bubble8"></div>
        </div>
    </div>
    <div class="container-ground"></div>
  </div>
</div>

