.header {
    min-height: 350px;
    background-image: url(https://i.pinimg.com/originals/bf/23/13/bf2313f512b2aa9f8d58130796efd545.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}